html,body {
   
    font-family: 'Arial', sans-serif;
}


header {
    margin-bottom: 0.2px;
    width: 100%;
}

section {
    padding: 100px 0px;
     
}


.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: relative;
  
}
.circle-image {
    color: #ffffff;
    width:  500px; /* يمكن تغيير الحجم كما تريد */
    height: 500px; /* يمكن تغيير الحجم كما تريد */
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative ;
    top: 45px;
    right: -47%;
    

   

        
}

.circle-image img {
    width: 100%;
    height: auto;
    display: block; /* يضمن عرضاً صحيحاً للصورة داخل الحاوية */
}



.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 2em;
    font-weight: 600;
    
}



    
.main-btn {
    color: #fff;
    background-image: linear-gradient(to left, #5447b9, #0e87f8 ) ;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.50);
    text-decoration: none;
    font-size: 1.1em;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-top: 60px;
    transition: all 0.4s ease-out;
}

.main-btn:hover {
    color: #fff;
    background-image: linear-gradient(to left, #5447b9, #0e87f8 ) ;
    transform: scale(1.1);
}
.container{
    position: relative;
}
.main-img{
    position: absolute;
    top: 0;
    right: -60px;
    max-width: 50%;
    
}

.container {
    margin-top: 50px;
}

h1 {
    color: #00e0ff;
}

.skill p {
    color: #f4f3f3;
    margin: 0;
}

.progress {
    background-color: #282727;
    margin-bottom: 15px;
}

.progress-bar {
    background-color: #00e0ff;
}

.circle-skill {
    margin-bottom: 30px;
}

#skills-section {
    background-color: #2a2e34; /* أو يمكنك استخدام background-image هنا */
    background-size: cover; /* لجعل الخلفية تغطي القسم بالكامل */
    width: 100%; /* تغطي عرض الشاشة بالكامل */
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box; /* للتأكد من أن الهوامش والحشوات لا تؤثر على العرض */
}

#skills-section .col-md-6 {
    margin-bottom: 30px; /* Adjust the value as needed */
}
#skills-section h3 {
    margin-top: 40px; /* Adjust the value as needed */
    margin-bottom: 30px; /* Adjust the value as needed */
    color: #faf7f7;

}
.circle-skill p{
    color: #ffffff;
}
.kw{ 
    color: #fefcfc;
}
.ml-2{
    padding-left: 240px;
}
.skills-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#skills-section .skills-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* لضمان أن العناصر تتوزع بشكل مناسب على الأحجام الصغيرة */
}

:root {
    --second-bg-color: #282727;
    --circle-border-width: 10px; /* سمك الخط */
    --circle-blue-color: #00e0ff; /* لون الأزرق */
    --circle-number-color: #ecf1f1; /* لون الرقم */
    

}
س

.circle-skill {
    margin-bottom: 30px;
    text-align: center;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: var(--circle-border-width) solid var(--second-bg-color);
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(
        var(--circle-blue-color) calc(var(--percentage) * 1%), 
        var(--second-bg-color) calc(var(--percentage) * 1%)
    );
}
    

.circle[data-percentage="90"] {
    --percentage: 0.9;
    
}

.circle[data-percentage="80"] {
    --percentage: 0.8;
}

.circle[data-percentage="70"] {
    --percentage: 0.7;
}

.circle[data-percentage="55"] {
    --percentage: 0.55;
}

.circle .percentage {
    color: var(--circle-number-color); /* لون الرقم */
    font-size: 18px;
    position: absolute;
   }
section {
    margin-bottom: 40px;
}

footer {
    margin-bottom: 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.social-icons a {
    font-size: 2rem; /* حجم الأيقونات */
    margin-right: 10px; /* تباعد بين الأيقونات */
    color: #393939; /* لون الأيقونات */
    display:inline-block ;
    transform: transform 0.3s ease;
}

.social-icons a:hover {
     transform: scale(1.2);
    color: #007bff; /* لون الأيقونة عند التحويم */
}
.social-icons a.whatsapp:hover {
    color: #0f0; /* لون الأيقونة عند التحويم */
}
.social-icons a.google:hover {
    color: rgb(201, 18, 18); /* لون الأيقونة عند التحويم */
}

@media  (max-width:760px) 
{
    .circle-image{
        width:  136%; /* يمكن تغيير الحجم كما تريد */
        height: 70%; /* يمكن تغيير الحجم كما تريد */
        right: 25%;
    }
    .main h2 span{
        font-size: 1.86em;
    }
    .ml-2{
        padding-left: 0px;
    }

}


